// main.scss
@use 'variables';
@use 'home';
@use 'setup';
@use 'caller';
@use 'card';
@use 'celebration';
@use 'languages';


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: variables.$primary-font;
  background-color: variables.$primary-bg;
  color: variables.$white;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: variables.$primary-bg;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
}



